gas_adjustment = 2.7
gas_prices = "0.0034ukuji"
enable_server = true
enable_voter = true
provider_timeout = "500ms"

history_db = "/var/tmp/feeder.db"

[server]
listen_addr = "0.0.0.0:{{ custom_port_prefix }}71"
read_timeout = "20s"
verbose_cors = true
write_timeout = "20s"

[account]
address = "{{ price_feeder_address }}"
chain_id = "{{ chain_id }}"
validator = "{{ price_feeder_validator }}"
prefix = "kujira"
fee_granter="{{ price_feeder_fee_granter }}"

[keyring]
backend = "{{ price_feeder_backend }}"
dir = "{{ user_dir }}/{{ folder }}"

[rpc]
grpc_endpoint = "localhost:{{ custom_port_prefix }}90"
rpc_timeout = "100ms"
tmrpc_endpoint = "http://localhost:{{ custom_port_prefix }}57"

[telemetry]
enable_hostname = true
enable_hostname_label = true
enable_service_label = true
enabled = true
global_labels = [["chain_id", "{{ chain_id }}"]]
service_name = "price-feeder"
type = "prometheus"
prometheus_retention = 120

#
#  CURRENCY PAIRS
# ------------------------------------------------------------

[[currency_pairs]]
base = "AKT"
quote = "USD"
providers = ["crypto", "kraken"]

[[currency_pairs]]
base = "AKT"
quote = "USDT"
providers = ["gate", "huobi", "kucoin"]

[[currency_pairs]]
base = "AMPKUJI"
quote = "KUJI"
providers = ["finv2"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "ARB"
quote = "USD"
providers = ["bitfinex", "coinbase", "crypto", "kraken"]

[[currency_pairs]]
base = "ARB"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "gate",
    "hitbtc",
    "huobi",
    "kucoin",
    "lbank",
    "okx",
    "phemex",
    "xt",
]

[[currency_pairs]]
base = "ATOM"
quote = "USD"
providers = ["coinbase", "kraken"]

[[currency_pairs]]
base = "ATOM"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "crypto",
    "gate",
    "hitbtc",
    "huobi",
    "kucoin",
    "lbank",
    "okx",
    "phemex",
    "poloniex",
    "xt",
]

[[currency_pairs]]
base = "AVAX"
quote = "USD"
providers = ["bitfinex", "coinbase", "kraken"]

[[currency_pairs]]
base = "AVAX"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "crypto",
    "gate",
    "hitbtc",
    "huobi",
    "kucoin",
    "lbank",
    "okx",
    "phemex",
    "poloniex",
    "xt",
]

[[currency_pairs]]
base = "AXL"
quote = "MNTA"
providers = ["fin"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "AXL"
quote = "USD"
providers = ["coinbase", "crypto", "kraken"]

[[currency_pairs]]
base = "AXL"
quote = "USDT"
providers = ["bitget", "bybit", "gate", "huobi", "kucoin"]

[[currency_pairs]]
base = "BAND"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "crypto",
    "gate",
    "hitbtc",
    "huobi",
    "kucoin",
    "okx",
    "phemex",
]

[[currency_pairs]]
base = "BNB"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "gate",
    "hitbtc",
    "huobi",
    "kucoin",
    "lbank",
    "okx",
    "phemex",
    "poloniex",
    "xt",
]

[[currency_pairs]]
base = "BTC"
quote = "USD"
providers = ["bitfinex", "coinbase"]

[[currency_pairs]]
base = "BTC"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "crypto",
    "gate",
    "hitbtc",
    "huobi",
    "kucoin",
    "lbank",
    "okx",
    "phemex",
    "poloniex",
    "xt",
]

[[currency_pairs]]
base = "CRO"
quote = "USDT"
providers = ["bitget", "crypto", "gate", "kucoin", "lbank", "okx", "xt"]

[[currency_pairs]]
base = "DOT"
quote = "USD"
providers = ["bitfinex", "coinbase", "crypto", "kraken"]

[[currency_pairs]]
base = "DOT"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "gate",
    "hitbtc",
    "huobi",
    "kucoin",
    "lbank",
    "okx",
    "phemex",
    "poloniex",
    "xt",
]

[[currency_pairs]]
base = "ETH"
quote = "USD"
providers = ["bitfinex", "coinbase", "crypto"]

[[currency_pairs]]
base = "ETH"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "gate",
    "hitbtc",
    "huobi",
    "kraken",
    "kucoin",
    "lbank",
    "okx",
    "phemex",
    "poloniex",
    "xt",
]

[[currency_pairs]]
base = "FET"
quote = "USD"
providers = ["bitfinex", "coinbase", "kraken"]

[[currency_pairs]]
base = "FET"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "crypto",
    "gate",
    "huobi",
    "kucoin",
    "lbank",
    "phemex",
]

[[currency_pairs]]
base = "FTM"
quote = "USD"
providers = ["bitfinex", "kraken"]

[[currency_pairs]]
base = "FTM"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "crypto",
    "gate",
    "hitbtc",
    "huobi",
    "kucoin",
    "lbank",
    "okx",
    "phemex",
]

[[currency_pairs]]
base = "FUZN"
quote = "USK"
providers = ["finv2"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "GLMR"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "crypto",
    "gate",
    "huobi",
    "kucoin",
    "lbank",
    "okx",
    "xt",
]

[[currency_pairs]]
base = "HNT"
quote = "USD"
providers = ["coinbase", "crypto"]

[[currency_pairs]]
base = "HNT"
quote = "USDT"
providers = ["bitget", "bitmart", "bybit", "gate", "kucoin"]

[[currency_pairs]]
base = "INJ"
quote = "USD"
providers = ["coinbase", "kraken"]

[[currency_pairs]]
base = "INJ"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "crypto",
    "gate",
    "hitbtc",
    "huobi",
    "kucoin",
    "lbank",
    "phemex",
]

[[currency_pairs]]
base = "JUNO"
quote = "OSMO"
providers = ["osmosisv2"]

[[currency_pairs]]
base = "JUNO"
quote = "USD"
providers = ["kraken"]

[[currency_pairs]]
base = "KAVA"
quote = "USD"
providers = ["coinbase", "kraken"]

[[currency_pairs]]
base = "KAVA"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "crypto",
    "gate",
    "huobi",
    "kucoin",
    "lbank",
    "xt",
]

[[currency_pairs]]
base = "KUJI"
quote = "USK"
providers = ["fin"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "KUJI"
quote = "WETH"
providers = ["camelotv3"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "LINK"
quote = "USD"
providers = ["coinbase", "crypto", "kraken"]

[[currency_pairs]]
base = "LINK"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "gate",
    "huobi",
    "lbank",
    "okx",
    "phemex",
    "xt",
]

[[currency_pairs]]
base = "LUNA"
quote = "USD"
providers = ["kraken"]

[[currency_pairs]]
base = "LUNA"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "gate",
    "hitbtc",
    "huobi",
    "kucoin",
    "lbank",
    "okx",
    "phemex",
    "xt",
]

[[currency_pairs]]
base = "LUNC"
quote = "USD"
providers = ["crypto", "kraken"]

[[currency_pairs]]
base = "LUNC"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "gate",
    "hitbtc",
    "huobi",
    "kucoin",
    "lbank",
    "okx",
    "phemex",
    "xt",
]

[[currency_pairs]]
base = "MATIC"
quote = "USD"
providers = ["bitfinex", "coinbase", "crypto", "kraken"]

[[currency_pairs]]
base = "MATIC"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "gate",
    "hitbtc",
    "huobi",
    "kucoin",
    "lbank",
    "okx",
    "phemex",
    "poloniex",
    "xt",
]

[[currency_pairs]]
base = "MNTA"
quote = "USDC"
providers = ["finv2"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "NSTK"
quote = "USK"
providers = ["finv2"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "NTRN"
quote = "USDT"
providers = ["binance", "bitget", "gate", "kucoin", "phemex"]

[[currency_pairs]]
base = "OSMO"
quote = "USD"
providers = ["coinbase", "crypto"]

[[currency_pairs]]
base = "OSMO"
quote = "USDT"
providers = ["binance", "bitget", "gate", "huobi", "kucoin", "lbank"]

[[currency_pairs]]
base = "PAXG"
quote = "USD"
providers = ["kraken"]

[[currency_pairs]]
base = "PAXG"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "crypto",
    "kucoin",
    "lbank",
    "phemex",
]

[[currency_pairs]]
base = "QCKUJI"
quote = "KUJI"
providers = ["finv2"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "QCMNTA"
quote = "MNTA"
providers = ["finv2"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "RIO"
quote = "ETH"
providers = ["pancakev3_bsc"]
derivative = "twap"
derivative_period = "20m"

[[currency_pairs]]
base = "RIO"
quote = "USDT"
providers = ["okx"]

[[currency_pairs]]
base = "RLB"
quote = "WETH"
providers = ["uniswapv3"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "SCRT"
quote = "USD"
providers = ["kraken"]

[[currency_pairs]]
base = "SCRT"
quote = "USDT"
providers = ["binance", "bybit", "gate", "huobi", "kucoin", "lbank"]

[[currency_pairs]]
base = "SHD"
quote = "MNTA"
providers = ["finv2", "shade"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "SOL"
quote = "USD"
providers = ["coinbase", "kraken"]

[[currency_pairs]]
base = "SOL"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "gate",
    "huobi",
    "kucoin",
    "okx",
    "xt",
]

[[currency_pairs]]
base = "SOMM"
quote = "MNTA"
providers = ["finv2"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "SOMM"
quote = "OSMO"
providers = ["osmosisv2"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "STARS"
quote = "MNTA"
providers = ["finv2"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "STARS"
quote = "OSMO"
providers = ["osmosisv2"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "STATOM"
quote = "ATOM"
providers = ["astroport_neutron", "finv2", "osmosisv2"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "STKATOM"
quote = "ATOM"
providers = ["dexter", "osmosisv2", "shade"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "STOSMO"
quote = "OSMO"
providers = ["osmosisv2"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "UNI"
quote = "USD"
providers = ["coinbase", "crypto", "kraken"]

[[currency_pairs]]
base = "UNI"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "gate",
    "huobi",
    "lbank",
    "okx",
    "phemex",
]

[[currency_pairs]]
base = "USDC"
quote = "USD"
providers = ["kraken"]

[[currency_pairs]]
base = "USDC"
quote = "USDT"
providers = [
    "binance",
    "bitget",
    "bybit",
    "gate",
    "huobi",
    "kucoin",
    "lbank",
    "okx",
    "phemex",
    "xt",
]

[[currency_pairs]]
base = "USDT"
quote = "USD"
providers = ["binanceus", "coinbase", "crypto", "gate", "kraken"]

[[currency_pairs]]
base = "USK"
quote = "USDC"
providers = ["finv2"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "TIA"
quote = "USD"
providers = ["coinbase", "kraken"]

[[currency_pairs]]
base = "TIA"
quote = "USDT"
providers = ["binance", "bitget", "bybit", "gate", "huobi", "kucoin", "okx"]

[[currency_pairs]]
base = "WBTC"
quote = "BTC"
providers = ["binance", "coinbase", "kucoin", "okx"]

[[currency_pairs]]
base = "WBTC"
quote = "USDT"
providers = [
    "bitget",
    "bybit",
    "crypto",
    "gate",
    "hitbtc",
    "phemex",
    "poloniex",
]

[[currency_pairs]]
base = "WETH"
quote = "USDC"
providers = ["uniswapv3"]

[[currency_pairs]]
base = "WHALE"
quote = "MNTA"
providers = ["fin"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "WHALE"
quote = "OSMO"
providers = ["osmosisv2"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "WINK"
quote = "USK"
providers = ["finv2"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "WSTETH"
quote = "WETH"
providers = ["uniswapv3"]
derivative = "twap"
derivative_period = "30m"

[[currency_pairs]]
base = "DYM"
quote = "USD"
providers = ["bitfinex", "kraken"]

[[currency_pairs]]
base = "DYM"
quote = "USDT"
providers = ["bitget", "bybit", "gate", "kucoin"]

#
#  PROVIDER OVERRIDES
# ------------------------------------------------------------

[[provider_min_overrides]]
denoms = [
    "AMPKUJI",
    "FUZN",
    "JUNO",
    "MNTA",
    "NSTK",
    "QCKUJI",
    "QCMNTA",
    "RLB",
    "SHD",
    "SOMM",
    "STARS",
    "STATOM",
    "STKATOM",
    "STOSMO",
    "USK",
    "WETH",
    "WHALE",
    "WINK",
    "WSTETH",
]
providers = 1

[[provider_min_overrides]]
denoms = ["KUJI", "RIO"]
providers = 2

#
#  DEVIATION THRESHOLDS
# ------------------------------------------------------------

[[deviation_thresholds]]
base = "KUJI"
threshold = "2"

[[deviation_thresholds]]
base = "USDT"
threshold = "2"

[[deviation_thresholds]]
base = "WHALE"
threshold = "2"

[[deviation_thresholds]]
base = "STATOM"
threshold = "2"

[[deviation_thresholds]]
base = "STKATOM"
threshold = "2"

#
#  ENDPOINTS
# ------------------------------------------------------------

[[provider_endpoints]]
name = "astroport_neutron"
url_set = "api_neutron"

[[provider_endpoints]]
name = "dexter"
url_set = "api_persistence"

[[provider_endpoints]]
name = "fin"
url_set = "fin"

[[provider_endpoints]]
name = "finv2"
url_set = "api_kujira"

[[provider_endpoints]]
name = "osmosisv2"
url_set = "api_osmosis"

[[provider_endpoints]]
name = "shade"
url_set = "api_secret"

[[provider_endpoints]]
name = "uniswapv3"
url_set = "rpc_ethereum"

[contract_addresses.astroport_neutron]
NTRNATOM = "neutron1e22zh5p8meddxjclevuhjmfj69jxfsa8uu3jvht72rv9d8lkhves6t8veq"
STATOMATOM = "neutron1l7ny0rckx9rks2p2aq94wd74sehjczym6n9y4yax8lcy9s39uans4uga62"

[contract_addresses.camelotv3]
KUJIWETH = "0x22427d20480de289795ca29c3adddb57a568e285"
WETHGMX = "0xC99be44383BC8d82357F5A1D9ae9976EE9d75bee"
WETHUSDC = "0x521aa84ab3fcc4c05cABaC24Dc3682339887B126"

[contract_addresses.dexter]
ATOMSTKATOM = "persistence1335rlmhujm0gj5e9gh7at9jpqvqckz0mpe4v284ar4lw5mlkryzszkpfrs"

[contract_addresses.finv2]
AMPKUJIKUJI = "kujira1lse59wt7a5yksdd08mennt299katjkfzdhmh8hvck8ln08jktcmsxrnh8s"
FUZNUSK = "kujira1w6gpsfn55ufh3g3pf6qjrdhfj6rp09zqmruvgvzupkl39mtlpcdqw2ys7e"
KUJIUSDC = "kujira14hj2tavq8fpesdwxxcu44rty3hh90vhujrvcmstl4zr3txmfvw9sl4e867"
KUJIUSK = "kujira193dzcmy7lwuj4eda3zpwwt9ejal00xva0vawcvhgsyyp5cfh6jyq66wfrf"
MNTAUSDC = "kujira1ws9w7wl68prspv3rut3plv8249rm0ea0kk335swye3sl2slld4lqdmc0lv"
NSTKUSK = "kujira1ggtmfuktfcf6plhtdejyyqn5de5uge3tef0jv64ru68h2ctuvyqs3355mn"
QCKUJIKUJI = "kujira14wsrem89304kpkl6d0j58dl6479eekwt047ccs0qzv9f60w80wzs8rjq4j"
QCMNTAMNTA = "kujira1ujsr2ge7dr723kse7thjv2rm3k7dkmjaxqzdh8qkcnx5gqz57jsqxy4ker"
SHDMNTA = "kujira14u8ynhj7d8h2379yqj5q2ma0xxpvfjlrpauhzxgnj40ejq953mlsugux8d"

SOMMMNTA = "kujira1nx5lqc2j4w0ak5dxevj82lar5kunxwj5yamr39xqfazmkksx4f2sksf0hz"
STARSMNTA = "kujira1hsdzhyvuc2z3f8d3yae84uk62d69vk68vxgudkun7gccz6hvrvfq0vx6fd"
STATOMMNTA = "kujira1l2x5c2fjjnw9uhrfhtme9snw3tzs4jt8cm0q2ysqssx6zskxatesjm7w7f"
USDCUSK = "kujira1rwx6w02alc4kaz7xpyg3rlxpjl4g63x5jq292mkxgg65zqpn5llq202vh5"
WHALEMNTA = "kujira1865zmuchjd0g0xr2q5n6hm747s8xju5k8h6mympk4vmqefkuy3hqc66tcw"
WINKUSK = "kujira1qxtd87qus6uzvqs4jv9r0j9ccd4yla42s6qag7y8fp7hhv68nzas6hqxgw"
STATOMATOM = "kujira158zzjcvkz7r3j5hueurcw22qrjerqw4dtrzlalztr7whjykjwvrsrahdnq"

[contract_addresses.osmosisv2]
ATOMSTKATOM = "886"
JUNOOSMO = "1097"
MNTAOSMO = "1215"
SOMMOSMO = "627"
STARSOSMO = "604"
STATOMATOM = "1136"
STOSMOOSMO = "833"
WHALEOSMO = "1318"
NTRNUSDC = "1324"

[contract_addresses.pancakev3_bsc]
ETHRIO = "0x043681828303cdf9398f0768bf1da99feebf7ee8"

[contract_addresses.shade]
ATOMSTKATOM = "secret18537ttv4l4k2ea0xp6ay3sv4c243fyjtj2uqz7"
SHDMNTA = "secret1hyypq9cd207z2rrsxc7jdtljvfqdeu3gzafs87"

[contract_addresses.uniswapv3]
RLBWETH = "0x510100d5143e011db24e2aa38abe85d73d5b2177"
USDCWETH = "0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640"
WETHRIO = "0x5b7e3e37a1aa6369386e5939053779abd3597508"
WSTETHWETH = "0x109830a1AAaD605BbF02a9dFA7B0B92EC2FB7dAa"



# providers: fin
# ["https://api.kujira.app", "https://kaiyo-1.gigalixirapp.com"]
[url_set.fin]
urls = ["https://kaiyo-1.gigalixirapp.com"]

# providers: finv2
# https://cosmos.directory/kujira/nodes (REST)
[url_set.api_kujira]
urls = [
  "http://127.0.0.1:{{ custom_port_prefix }}17", #SET YOUR API IF EXIST
  "https://api-kujira.starsquid.io"
]


# providers: astroport_neutron
# https://cosmos.directory/neutron/nodes (REST)
[url_set.api_neutron]
urls = [
  "https://neutron-api.polkachu.com",
  "https://rest.cosmos.directory/neutron"
]

# providers: osmosisv2
# https://cosmos.directory/osmosis/nodes (REST)
[url_set.api_osmosis]
urls = [
  "https://lcd-osmosis.blockapsis.com",
  "https://rest-osmosis.ecostake.com",
  "https://lcd.osmosis.zone",
]

# providers: uniswapv3
# https://ethereumnodes.com
[url_set.rpc_ethereum]
urls = [
  "https://rpc.ankr.com/eth",
  "https://ethereum.blockpi.network/v1/rpc/public",
  "https://mainnet.infura.io/v3"
]

# providers: shade
# https://cosmos.directory/secretnetwork/nodes (REST)
[url_set.api_secret]
urls = [
  "https://secretnetwork-api.highstakes.ch:1317",
  "https://rest.cosmos.directory/secretnetwork",
  "https://secretnetwork-api.lavenderfive.com",
]

# providers: dexter
# https://cosmos.directory/persistence/nodes (REST)
[url_set.api_persistence]
urls = [
  "https://persistence-mainnet-rest.cosmonautstakes.com",
  "https://rest-persistence.architectnodes.com",
  "https://api-persistence-01.stakeflow.io",
]
