[Unit]
Description=Comdex Exporter
After=network-online.target

[Service]
User=ubuntu
TimeoutStartSec=0
CPUWeight=95
IOWeight=95
ExecStart=cosmos-exporter \
  --denom=ucmdx \
  --denom-coefficient=1000000 \
  --bech-account-prefix=comdex \
  --bech-account-pubkey-prefix=comdexpub \
  --bech-consensus-node-prefix=comdexvalcons \
  --bech-consensus-node-pubkey-prefix=comdexvalconspub \
  --bech-validator-prefix=comdexvaloper \
  --bech-validator-pubkey-prefix=comdexvaloperpub \
  --listen-address=:31300 \
  --log-level=info \
  --node=localhost:31090 \
  --tendermint-rpc=http://localhost:31657

Restart=always
RestartSec=2
LimitNOFILE=800000
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
