---
all:
  children:
    networks:
      children:
        evmos:
          hosts:
            evmos_master:
            evmos_relayer:
          vars:
            network: evmos
        secret:
          hosts:
            secret_master:
            secret_relayer:
          vars:
            network: secretnetwork
    
    relayers:
      children:
        relayer:
          hosts:
            evmos_relayer:
          vars:
            ansible_host: 2.3.4.5
      vars:
        type: relayer          

    masters:
      children:
        ovhcloud:
          children:
            secretmaster:
              hosts:
                secret_master:
              vars:
                ansible_host: 1.2.3.4
            
      vars:
        type: main

  vars:
    ansible_user: ubuntu
    ansible_port: 22
    ansible_ssh_private_key_file: "~/.ssh/id_ed25519"
    user_dir: "/home/{{ ansible_user }}"
    path: "/sbin:/usr/sbin:/bin:/usr/bin:/usr/local/bin:/usr/local/go/bin:{{ user_dir }}/go/bin"
    node_exporter: false
    promtail: false
    log_monitor: http://10.0.0.100:3100
    log_name: "lavender.{{ network }}.{{ type }}"
    snapshot_endpoint: 'http://10.0.0.2000'
    snapshot_profile: 'profile'  
    cosmos_directory_url: 'https://chains.cosmos.directory'
    port_prefix_url: https://raw.githubusercontent.com/polkachu/cosmos-port-prefixes/main/networks.json
    snapshot_url: https://polkachu.com/tendermint_snapshots
    addrbook_url: https://snapshots.polkachu.com/addrbook
    tenderseed_host: 127.0.0.1

    # cloudflare 
    cloudflare_token: ''
    cloudflare_zone: lavenderfive.com 

    # tenderduty
    tenderduty_user: '{{ ansible_user }}'
    tenderduty_version: v2.2.0
    tenderduty_host 127.0.0.1
    tenderduty_dns: '{{ cloudflare_zone }}'
    tenderduty_pagerduty_key: ''
    tenderduty_default_pagerduty_severity: 'alert'
    tenderduty_discord_api: 'https://discord.com/api/webhooks/992...'
    tenderduty_telegram_key: ''
    tenderduty_telegram_channel: ''
    testnet_tenderduty_host: 127.0.0.1
