[quasar]
quasar_test ansible_host=10.0.0.0 type=test prepare=false
quasar_test_relayer ansible_host=10.0.0.0 type=testrelay prepare=false

[all:vars]
ansible_user=ubuntu
ansible_port=22
ansible_ssh_private_key_file="~/.ssh/id_rsa"
var_file="group_vars/testnets/{{ group_names[0] }}.yml"
user_dir="/home/{{ansible_user}}"
path="/sbin:/usr/sbin:/bin:/usr/bin:/usr/local/bin:/usr/local/go/bin:{{ user_dir }}/go/bin"
node_exporter=true
promtail=false
log_monitor=http://10.0.0.100:3100
node_name="Kitkat-{{ network }}-{{ type }}"
log_name="Kitkat_{{ network }}_{{ type }}"