[Unit]
Description=Osmosis Daemon
After=network-online.target

[Service]
User={{ ansible_user }}
ExecStart=/home/{{ ansible_user }}/go/bin/osmosisd start
Restart=on-abort

[Install]
WantedBy=multi-user.target

[Service]
LimitNOFILE=65535
