gas_adjustment = 1.5
gas_prices = "0.00125usei"
enable_server = true
enable_voter = true

[server]
listen_addr = "0.0.0.0:{{ custom_port_prefix }}71"
read_timeout = "20s"
verbose_cors = true
write_timeout = "20s"

[[deviation_thresholds]]
base = "USDT"
threshold = "2"

[[currency_pairs]]
base = "ETH"
chain_denom = "ueth"
providers = [
  "huobi",
  "kraken",
  "coinbase",
]
quote = "USD"

[[currency_pairs]]
base = "BTC"
chain_denom = "ubtc"
providers = [
  "huobi",
  "kraken",
  "coinbase",
]
quote = "USD"

[[currency_pairs]]
base = "SOL"
chain_denom = "usei"
providers = [
  "huobi",
  "kraken",
  "coinbase",
]
quote = "USD"

[[currency_pairs]]
base = "ATOM"
chain_denom = "uatom"
providers = [
  "huobi",
  "kraken",
  "coinbase",
]
quote = "USD"

[[currency_pairs]]
base = "USDT"
chain_denom = "factory/sei1a27kj2j27c6uz58rn9zmhcjee9s3h3nhyhtvjj/uust2"
providers = [
  "huobi",
  "kraken",
  "coinbase",
]
quote = "USD"

[account]
address = "{{ price_feeder_address }}"
chain_id = "{{ chain_id }}"
validator = "{{ price_feeder_validator }}"
prefix = "sei"

[keyring]
backend = "os"
dir = "{{ user_dir }}/{{ folder }}"

[rpc]
grpc_endpoint = "localhost:{{ custom_port_prefix }}90"
rpc_timeout = "100ms"
tmrpc_endpoint = "http://localhost:{{ custom_port_prefix }}57"

[telemetry]
enable_hostname = true
enable_hostname_label = true
enable_service_label = true
# enabled = true
global-labels = [["chain_id", "{{ chain_id }}"]]
service_name = "price-feeder"
prometheus_retention = 60

[[provider_endpoints]]
name = "binance"
rest = "https://api1.binance.com"
websocket = "stream.binance.com:9443"

# [[healthchecks]]
# url = "https://hc-ping.com/HEALTHCHECK-UUID"