# path to address book (relative to tendermint-seed home directory or an absolute path)
addr_book_file = "data/addrbook.json"

# Set true for strict routability rules
# Set false for private or local networks
addr_book_strict = true

# network identifier (todo move to cli flag argument? keeps the config network agnostic)
chain_id = "{{ chain_id }}"

# Address to listen for incoming connections
laddr = "tcp://0.0.0.0:{{ custom_port_prefix }}56"

# maximum number of inbound connections
max_num_inbound_peers = 50

# maximum number of outbound connections
max_num_outbound_peers = 10

# path to node_key (relative to tendermint-seed home directory or an absolute path)
node_key_file = "config/node_key.json"