[Unit]
Description={{ network }} Tenderseed
After=network-online.target

[Service]
User={{ ansible_user }}
ExecStart={{ user_dir }}/go/bin/tenderseed  -home {{ user_dir }}/seeds/{{ folder }} -seeds {{ seed }} -chain-id {{ chain_id }} start
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
