---
config_port_changes:
  'laddr = "tcp://0.0.0.0:26656"': 'laddr = "tcp://0.0.0.0:{{ custom_port_prefix }}56"'
  'laddr = "tcp://127.0.0.1:26657"': 'laddr = "tcp://0.0.0.0:{{ custom_port_prefix }}57"'
  'proxy_app = "tcp://127.0.0.1:26658"': 'proxy_app = "tcp://127.0.0.1:{{ custom_port_prefix }}58"'
  'priv_validator_laddr = ""': 'priv_validator_laddr = "tcp://0.0.0.0:{{ custom_port_prefix }}59"'
  'pprof_laddr = "localhost:6060"': 'pprof_laddr = "localhost:{{ custom_port_prefix }}60"'
  'prometheus_listen_addr = ":26660"': 'prometheus_listen_addr = ":{{ custom_port_prefix }}61"'
app_port_changes:
  'address = "tcp://0.0.0.0:1317"': 'address = "tcp://0.0.0.0:{{ custom_port_prefix }}17"'
  'address = ":8080"': 'address = ":{{ custom_port_prefix }}80"'
  'address = "0.0.0.0:9090"': 'address = "0.0.0.0:{{ custom_port_prefix }}90"'
  'address = "0.0.0.0:9091"': 'address = "0.0.0.0:{{ custom_port_prefix }}91"'
pruning_main_backup:
  'pruning = "': 'pruning = "custom"'
  'pruning-keep-recent = "': 'pruning-keep-recent = "100"'
  'pruning-interval = "': 'pruning-interval = "73"'
  'snapshot-interval = ': 'snapshot-interval = 0'
pruning_relayer:
  'pruning = "': 'pruning = "custom"'
  'pruning-keep-recent = "': 'pruning-keep-recent = "10000"'
  'pruning-keep-every = "': 'pruning-keep-every = "2000"'
  'pruning-interval = "': 'pruning-interval = "79"'
  'snapshot-interval = ': 'snapshot-interval = 2000'
  'snapshot-keep-recent = ': 'snapshot-keep-recent= 5'
pruning_test:
  'pruning = "': 'pruning = "custom"'
  'pruning-keep-recent = "': 'pruning-keep-recent = "100"'
  'pruning-keep-every = "': 'pruning-keep-every = "0"'
  'pruning-interval = "': 'pruning-interval = "29"'
  'snapshot-interval = ': 'snapshot-interval = 0'

