#!/bin/bash

# prune node
sudo service {{ network }} stop
sleep 5
/home/ubuntu/go/bin/cosmprund prune ~/{{ folder }}/data
sleep 5

# Make sure the service is running
sudo service {{ network }} start
sleep 10

# Get block height
BLOCK_HEIGHT=$(curl -s http://localhost:{{ custom_port_prefix }}57/status | jq -r .result.sync_info.latest_block_height)

# Stop service
sudo service {{ network }} stop

# Compress the folder
FILENAME=$(echo {{ network }}_${BLOCK_HEIGHT}.tar.lz4)
WASM_FILENAME='wasmonly.tar.lz4'
cd {{ user_dir }}/{{ folder }}

{% if wasm is defined and wasm == "outside" %}
tar cvf - data wasm | lz4 > "{{ user_dir }}/$FILENAME"
tar cvf - wasm | lz4 > "{{ user_dir }}/$WASM_FILENAME"

{% elif wasm is defined and wasm == "inside" %}
tar cvf - data | lz4 > "{{ user_dir }}/$FILENAME"
cd {{ user_dir }}/{{ folder }}/data
tar cvf - wasm | lz4 > "{{ user_dir }}/$WASM_FILENAME"

{% else %}
tar cvf - data | lz4 > "{{ user_dir }}/$FILENAME"
{% endif %}

# Restart the service
sudo service {{ network }} start

# Transfer the file and then remove the file
cd {{ user_dir }}/
{% if type == 'test' %}
aws s3 --endpoint="{{ snapshot_endpoint }}" --acl="public-read" cp $FILENAME "s3://testnet-snapshots/{{ network }}/" --profile={{ snapshot_profile }}
{% else %}
aws s3 --endpoint="{{ snapshot_endpoint }}" --acl="public-read" cp $FILENAME "s3://snapshots/{{ network }}/" --profile={{ snapshot_profile }}
{% endif %}
rm $FILENAME

{% if wasm is defined and type != 'test' %}
cd {{ user_dir }}/
aws s3 --endpoint="{{ snapshot_endpoint }}" --acl="public-read" cp $WASM_FILENAME "s3://wasm/{{ network }}/" --profile={{ snapshot_profile }}
rm $WASM_FILENAME
{% endif %}

# Transfer the addrbook
cd {{ user_dir }}/{{ folder }}/config
{% if type == 'test' %}
aws s3 --endpoint="{{ snapshot_endpoint }}" --acl="public-read" cp addrbook.json "s3://testnet-addrbook/{{ network }}/" --profile={{ snapshot_profile }}
{% else %}
aws s3 --endpoint="{{ snapshot_endpoint }}" --acl="public-read" cp addrbook.json "s3://addrbook/{{ network }}/" --profile={{ snapshot_profile }}
{% endif %}