#!/bin/bash

# prune node
sudo service {{ network }} stop
sleep 5
/home/ubuntu/go/bin/cosmprund prune ~/{{ folder }}/data --cosmos-sdk=false
sleep 5

# Make sure the service is running
sudo service {{ network }} start
sleep 30

# Get block height
BLOCK_HEIGHT=$(curl -s http://localhost:{{ custom_port_prefix }}657/status | jq -r .result.sync_info.latest_block_height)

# Stop service
sudo service {{ network }} stop

# Compress the folder
FILENAME=$(echo {{ network }}_${BLOCK_HEIGHT}.tar.lz4)
cd {{ user_dir }}/{{ folder }}
{% if wasm is defined and wasm is sameas true %}
tar cvf - data wasm | lz4 > "{{ user_dir }}/$FILENAME"
{% else %}
tar cvf - data | lz4 > "{{ user_dir }}/$FILENAME"
{% endif %}

# Restart the service
sudo service {{ network }} start

# Transfer the file and then remove the file
cd {{ user_dir }}/
aws s3 --endpoint="{{ snapshot_endpoint }}" --acl="public-read" cp $FILENAME "s3://snapshots/{{ network }}/" --profile={{ snapshot_profile }}
rm $FILENAME

# Transfer the addrbook
cd {{ user_dir }}/{{ folder }}/config
aws s3 --endpoint="{{ snapshot_endpoint }}" --acl="public-read" cp addrbook.json "s3://addrbook/{{ network }}/" --profile={{ snapshot_profile }}
