#!/bin/bash

sudo service {{ network }} stop
sleep 2
rm {{ user_dir }}/{{ folder }}/data -rf
cp {{ user_dir }}/{{ folder }}/data-old {{ user_dir }}/{{ folder }}/data -r
sudo service {{ network }} start
