#!/bin/bash

sudo service {{ network }} stop
sleep 2
rm {{ user_dir }}/{{ folder }}/data-old -rf
mv {{ user_dir }}/{{ folder }}/data {{ user_dir }}/{{ folder }}/data-old -r

{{ user_dir }}/go/bin/{{ daemon }} tendermint unsafe-reset-all --home {{ user_dir }}/{{ folder }} --keep-addr-book

cp {{ user_dir }}/{{ folder }}/data-old/priv_validator_state.json {{ user_dir }}/{{ folder }}/data/priv_validator_state.json

{% if network == 'terra' or network == 'teritori' or network == 'nibiru' or network == 'mars' or network == 'xpla' %}
cp {{ user_dir }}/{{ folder }}/data-old/wasm {{ user_dir }}/{{ folder }}/data/wasm -r
{% endif %}

{{ user_dir }}/state_sync/{{ network }}.sh
sudo service {{ network }} start
