#!/bin/bash

# Make sure the service is running
sudo service cosmovisor start

# Get block height
BLOCK_HEIGHT=$(curl -s http://localhost:26657/status | jq -r .result.sync_info.latest_block_height)

# Stop service
sudo service cosmovisor stop

# Compress the copy and clean up
FILENAME=$(echo {{ network }}_${BLOCK_HEIGHT}.tar.lz4)
tar cvf - "/home/ubuntu/{{ folder }}/data" | lz4 > $FILENAME
aws s3 --endpoint="{{ snapshot_endpoint }}" --acl="public-read" cp $FILENAME "s3://{{ snapshot_space }}/{{ network }}/"
rm $FILENAME

# Restart the service
sudo service cosmovisor start