#!/bin/bash

# This is for crontab
# 0 0 * * 0 /bin/bash {{ ansible_facts["user_dir"] }}/snapshot.sh

# Make sure the service is running
sudo service cosmovisor start
sleep 5

# Get block height
BLOCK_HEIGHT=$(curl -s http://localhost:26657/status | jq -r .result.sync_info.latest_block_height)

# Stop service
sudo service cosmovisor stop

# Compress the folder
FILENAME=$(echo {{ network }}_${BLOCK_HEIGHT}.tar.lz4)
cd {{ ansible_facts["user_dir"] }}/{{ folder }}
tar cvf - data | lz4 > "{{ ansible_facts["user_dir"] }}/$FILENAME"

# Restart the service
sudo service cosmovisor start

# Transfer the file and then remove the file
cd {{ ansible_facts["user_dir"] }}/
aws s3 --endpoint="{{ snapshot_endpoint }}" --acl="public-read" cp $FILENAME "s3://{{ snapshot_space }}/{{ network }}/"
rm $FILENAME
