---
- name: Copy restake json
  become: true
  template:
    src: 'restake.json'
    dest: '{{ user_dir }}/restake/src/networks.local.json'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: '0644'
