server {
    listen 80;
{% if type == 'test' %}
    server_name {{network}}-testnet-api.polkachu.com;
{% else %}
    server_name {{network}}-api.polkachu.com;
{% endif %}
    add_header Access-Control-Allow-Origin *;
    location / {
      proxy_pass http://127.0.0.1:{{custom_port_prefix}}317;
    }
}