server {
    listen 80;
    server_name {{api}}.kitkat.zone;
    location / {
{% if partner is undefined or partner == "dydx" %}
        limit_req zone=limitreqsbyaddr burst=150 nodelay;
{% endif %}
{% if partner is defined and (partner == "skip" or partner == "skip_extra") %}
        auth_basic "Skip";
        auth_basic_user_file ".htpasswd";
{% endif %}
        proxy_pass http://127.0.0.1:{{custom_port_prefix}}17;
    }
}