{{ endpoint_prefix }}-rpc.lavenderfive.com {
  log
  import rpc-header
  import blocked
  import rate-limiter
  reverse_proxy {
    to http://localhost:{{ custom_port_prefix }}57
  }
  handle_path /CustomPath/* {
    rewrite * /websocket?{query}
    reverse_proxy websocket:{{ custom_port_prefix }}57
  }
}

{{ endpoint_prefix }}-api.lavenderfive.com {
  log
  import api-header
  import blocked
  import rate-limiter
  reverse_proxy {
    to http://localhost:{{ custom_port_prefix }}17
  }
}

{{ endpoint_prefix }}-grpc.lavenderfive.com {
  log
  import blocked
  import rate-limiter
  reverse_proxy {
    to h2c://localhost:{{ custom_port_prefix }}90
    transport http {
      versions h2c 2
      dial_timeout 3s
    }
  }
}
