{% if loan_balancing is defined and loan_balancing|bool sameas true %}
upstream {{ network }}-rpc {
    server http://127.0.0.1:{{custom_port_prefix}}57 max_fails=3 fail_timeout=30s;
    server http://127.0.0.1:{{custom_port_prefix}}57 backup;
}
{% endif %}
server {
    listen 80;
{% if type == 'test' %}
    server_name {{network}}-testnet-rpc.polkachu.com;
{% else %}
    server_name {{network}}-rpc.polkachu.com;
{% endif %}
    add_header Access-Control-Allow-Origin * always;
    add_header Access-Control-Allow-Headers * always;
    location / {
{% if no_rate_limit is defined and no_rate_limit|bool sameas true %}
        limit_req zone=limitreqsbyaddr burst=20 nodelay;
{% endif %}
        proxy_redirect                      off;
        proxy_set_header Host               $host;
        proxy_set_header X-Real-IP          $remote_addr;
        proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto  $scheme;
        # proxy_set_header Upgrade $http_upgrade;
        # proxy_set_header Connection upgrade;
{% if loan_balancing is defined and loan_balancing|bool sameas true %}
        proxy_pass      http://{{ network }}-rpc;
{% else %}
        proxy_pass      http://127.0.0.1:{{custom_port_prefix}}57;
{% endif %}
    }
}