server {
    listen 80;
    server_name {{rpc}}.kitkat.zone;
    add_header Access-Control-Allow-Origin * always;
    add_header Access-Control-Allow-Headers * always;
    location / {
{% if partner is undefined or partner == 'dydx' %}
        limit_req zone=limitreqsbyaddr burst=150 nodelay;
{% endif %}
{% if partner is defined and (partner == "skip" or partner == "skip_extra") %}
        auth_basic "Skip";
        auth_basic_user_file ".htpasswd";
{% endif %}
        proxy_redirect                      off;
        proxy_set_header Host               $host;
        proxy_set_header X-Real-IP          $remote_addr;
        proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto  $scheme;
{% if partner is undefined %}
        # proxy_set_header Upgrade $http_upgrade;
        # proxy_set_header Connection upgrade;
{% else %}
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection upgrade;
{% endif %}
        proxy_pass      http://127.0.0.1:{{custom_port_prefix}}57;
    }
}